<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style type="text/css">

        .map {
            width: 100%;
            height: 400px;
        }

        .chart {
            width: 100%;
            height: 400px; 
            margin: 0 auto;
        }

        .thumbnail-img {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 0;
            display: inline;
        }
    </style>
    <title>{{title}}</title>
</head>
<body>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script src="wordcloud2.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        {{title}}
                        <small>Basert på statistikk fra Untappd</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
        {% for year in years %}
            <div class="col-md-{{12 // years | length}}">
                <div class="well">
                    <h2>{{year.year}}</h2>
                    <dl>
                        <dt>Antall innsjekkinger:</dt>
                        <dd>{{year.num_checkins}}</dd>
                        <dt>Antall forskjellige øl:</dt>
                        <dd>{{year.num_beers}}</dd>
                        <dt>Mest innsjekkede øl:</dt>
                        <dd>
                            <ol>
                                {% for beer in year.beer_top_5 %}
                                <li>
                                    <a href="https://untappd.com/beer/{{beer.bid}}" target="_blank">
                                        {{beer.brewery.brewery_name}} - {{beer.beer_name}}
                                    </a>
                                    ({{beer.num}})
                                </li>
                                {% endfor %}
                            </ol>
                        </dd>
                        <dt>Høyest ratede øl*:</dt>
                        <dd>
                            <ol>
                                {% for beer in year.beer_top_5_score %}
                                <li>
                                    <a href="https://untappd.com/beer/{{beer.bid}}" target="_blank">
                                        {{beer.brewery.brewery_name}} - {{beer.beer_name}}
                                    </a>
                                    ({{beer.score |round(2)}} / 5) ({{beer.num}} checkins)
                                </li>
                                {% endfor %}
                            </ol>
                        </dd>
                        <dt>Lavest ratede øl*:</dt>
                        <dd>
                            <ol>
                                {% for beer in year.beer_bottom_5_score %}
                                <li>
                                    <a href="https://untappd.com/beer/{{beer.bid}}" target="_blank">
                                        {{beer.brewery.brewery_name}} - {{beer.beer_name}}
                                    </a>
                                    ({{beer.score |round(2)}} / 5) ({{beer.num}} checkins)
                                </li>
                                {% endfor %}
                            </ol>
                            
                        </dd>
                        <p>*Øl med minst 2 checkins, snitt av alle ratinger på festivalen</p>
                        <dt>Antall forskjellige bryggerier:</dt>
                        <dd>{{year.num_breweries}}</dd>
                        <dt>Mest innsjekkede bryggerier:</dt>
                        <dd>
                            <ol>
                                {% for brewery in year.brewery_top_5 %}
                                    <li>
                                        <a href="https://untappd.com/brewery/{{brewery.brewery_id}}" target="_blank">
                                            {{brewery.brewery_name}}
                                        </a>
                                        ({{brewery.num}})
                                    </li>
                                {% endfor %}
                            </ol>
                        </dd>
                        {% if year.num_users %}
                        <dt>Antall forskjellige brukere:</dt>
                        <dd>{{year.num_users}}</dd>
                        {% endif %}
                        {%if year.user_top_5 %}
                        <dt>Brukere med flest innsjekkinger:</dt>
                        <dd>
                            <ol>
                                {% for user in year.user_top_5 %}
                                <li>
                                    <a href="https://untappd.com/user/{{user.user_name}}" target="_blank">
                                        {{user.user_name}}
                                    </a>
                                    ({{user.num}})
                                </li>
                                {% endfor %}
                            </ol>
                        </dd>
                        {% endif %}
                        {% if year.num_venues %}
                        <dt>Antall forskjellige steder:</dt>
                        <dd>{{year.num_venues}}</dd>
                        {% endif %}
                        {%if year.venues_top_5 %}
                        <dt>Steder med flest innsjekkinger:</dt>
                        <dd>
                            <ol>
                                {% for venue in year.venues_top_5 %}
                                <li>
                                    <a href="https://untappd.com/venue/{{venue.venue_id}}" target="_blank">
                                        {{venue.venue_name}}
                                    </a>
                                    ({{venue.num}})
                                </li>
                                {% endfor %}
                            </ol>
                        </dd>
                        {% endif %}
                    </dl>


                    <hr />
                    <h4>Tidspunkter</h4>
                    <div id="container-{{year.year}}" class="chart thumbnail"></div>
                    <script type="text/javascript">
                        (function(argument) {
                            'use strict';

                            var dateStats = {{year.date_stats}};
                            $('#container-{{year.year}}').highcharts({
                                chart: {type: 'column'},
                                title: {text: ''},
                                subtitle: {
                                    text: 'Klikk på kolonnene for å se detaljert dagsstatistikk'
                                },
                                xAxis: {type: 'category'},
                                yAxis: {
                                    title: {
                                        text: 'Antall checkins'
                                    }
                                },
                                legend: {enabled: false},
                                plotOptions: {
                                    series: {
                                        borderWidth: 0,
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.y}'
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Innsjekkinger',
                                    colorByPoint: true,
                                    data: dateStats.series
                                }],
                                drilldown: {series: dateStats.drilldowns}
                            });
                        }());
                    </script>

                    <hr />
                    <h4>Bryggerikart</h4>
                    <div id="map-{{year.year}}" class="map thumbnail"></div>

                    <script type="text/javascript">
                        (function () {
                            var positions = {{year.pos}};
                            var map = L.map('map-{{year.year}}');
                            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            var features = L.geoJson(positions, {
                                onEachFeature: function (feature, layer) {
                                    layer.bindPopup(feature.properties.name);
                                }
                            });

                            map.fitBounds(features.getBounds());
                            features.addTo(map);
                        }());
                    </script>

                    {% if year.venue_pos %}
                    <hr />
                    <h4>Stedkart</h4>
                    <div id="map-venue-{{year.year}}" class="map thumbnail"></div>

                    <script type="text/javascript">
                        (function () {
                            var positions = {{year.venue_pos}};
                            var map = L.map('map-venue-{{year.year}}');
                            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            var features = L.geoJson(positions, {
                                onEachFeature: function (feature, layer) {
                                    layer.bindPopup(feature.properties.name);
                                }
                            });

                            map.fitBounds(features.getBounds());
                            features.addTo(map);
                        }());
                    </script>
                    {% endif %}
                    <hr />
                    <h4>Ordsky</h4>
                    <canvas height="400" width="400" id="wordcloud-{{year.year}}" style="width:100%;" class="thumbnail"></canvas>

                    <script type="text/javascript">
                        (function() {
                            'use strict';
                            var canvas = document.getElementById('wordcloud-{{year.year}}');

                            canvas.width  = $(canvas).width();
                            WordCloud(
                                canvas,
                                {
                                    list: {{year.words}},
                                      gridSize: 18,
                                      weightFactor: 3,
                                      fontFamily: 'sans-serif',
                                      color: 'random-dark',
                                      backgroundColor: '#fff'
                                }
                            );
                        }());
                    </script>

                    <hr />
                    <h4>Alle øl</h4>
                    <ol>
                    {% for beer in year.beers %}
                    <li>
                        <a href="https://untappd.com/beer/{{beer.bid}}" target="_blank">
                            {{beer.brewery.brewery_name}} - {{beer.beer_name}}
                        </a>
                        ({{beer.num}} checkins) {{beer.score |round(2)}} / 5
                    </li>
                    {% endfor %}


                    <hr />
                    <h4>Bilder</h4>
                    {% for photo in year.photos %}
                        <img class="thumbnail-img" src="{{photo}}" height="100" width="100" />
                    {% endfor %}

                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well">
                    <h4>Om</h4>
                    <p>Lister alle public Untappd-innsjekkinger på Venue "Bryggerifestivalen" (2013 og 2015), samt "Torvet", "Trondheim Torg" og "Bryggerifestivalen 2015" (2015) begrenset til festivaldagene++.</p>
                    <p>Dataene er statisk innhentet og oppdateres <em>ikke</em> automatisk.</p>
                    <p>Laget av Atle F. Sveen, kode på <a href="https://github.com/atlefren/bryggerifestivalstats">GitHub</a></p>

                    <p>Disclaimer hvis et overivrig nissehue fra det offentlige begynner å steile: Jeg har laget denne siden på eget initiativ, uavhengig av Bryggerifestivalen og har ikke noe med festivalen å gjøre ut over at jeg er frivillig der.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
